
#logo{
    width:15%;
    height:15%;
}

.mainlink{
    color:white;
    font-family:LemonJelly;
    font-size:165%;
}
.mainlink:hover{
    color:rgb(189, 53, 53);
}
#producto:active{
    color:rgb(189, 53, 53)!important;
}
.navlink{
    color:black;
    font-family:LemonJelly;
    font-size: 165%;
}
.navlink:hover{
    /*color:rgb(231, 231, 74);*/
    color:rgb(189, 53, 53);
}
@font-face{
    font-family:LemonJelly;
    src:url("../../fonts/LemonJellyPersonalUse-dEqR.ttf"); 
}
@font-face{
    font-family:BillionDreams;
    src:url("../../fonts/BillionDreams-vmgK9.ttf");
}